<?xml version="1.0"?>
<!--
   @author Improntus Dev Team
   @copyright Copyright (c) 2023 Improntus (http://www.improntus.com)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <uber>
                <cod>0</cod>
                <mode>0</mode>
                <debug>0</debug>
                <active>0</active>
                <title>Uber Direct</title>
                <sort_order>0</sort_order>
                <free_shipping>0</free_shipping>
                <sallowspecific>0</sallowspecific>
                <description>Uber Direct</description>
                <preparation_time>15</preparation_time>
                <verification_age>21</verification_age>
                <webhooks_integration>0</webhooks_integration>
                <model>Improntus\Uber\Model\Carrier\Uber</model>
                <verification_type>signature_requirement</verification_type>
                <product_width_attribute>uber_width</product_width_attribute>
                <product_depth_attribute>uber_depth</product_depth_attribute>
                <product_height_attribute>uber_height</product_height_attribute>
                <webhook_signing backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </uber>
        </carriers>
    </default>
</config>
