<?xml version="1.0"?>
<!--
  ~ @author Improntus Dev Team
  ~ @copyright Copyright (c) 2023 Improntus (http://www.improntus.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <uber>
                <mode>0</mode>
                <debug>0</debug>
                <active>0</active>
                <title>Uber</title>
                <free_shipping>0</free_shipping>
                <description>Uber Direct</description>
                <preparation_time>15</preparation_time>
                <verification_type>signature_requirement</verification_type>
                <!--<model>Improntus\Uber\Model\Carrier\Uber</model>-->
            </uber>
        </carriers>
    </default>
</config>
