<?xml version="1.0"?>
<!--
  ~ @author Improntus Dev Team
  ~ @copyright Copyright (c) 2023 Improntus (http://www.improntus.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Organizations -->
    <preference for="Improntus\Uber\Api\OrganizationRepositoryInterface" type="Improntus\Uber\Model\OrganizationRepository"/>
    <preference for="Improntus\Uber\Api\Data\OrganizationInterface" type="Improntus\Uber\Model\Organization"/>
    <preference for="Improntus\Uber\Api\Data\OrganizationSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>

    <!-- Waypoint -->
    <preference for="Improntus\Uber\Api\WaypointRepositoryInterface" type="Improntus\Uber\Model\WaypointRepository"/>
    <preference for="Improntus\Uber\Api\Data\WaypointInterface" type="Improntus\Uber\Model\Waypoint"/>
    <preference for="Improntus\Uber\Api\Data\WaypointSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>

    <!-- Organization -->
    <type name="Improntus\Uber\Model\ResourceModel\Waypoint\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Improntus\Uber\Model\Organization</argument>
            <argument name="resourceModel" xsi:type="string">Improntus\Uber\Model\ResourceModel\Organization</argument>
            <argument name="idFieldName" xsi:type="string">entity_id</argument>
            <argument name="eventPrefix" xsi:type="string">improntus_uber_organization_collection</argument>
            <argument name="eventObject" xsi:type="string">organization_collection</argument>
        </arguments>
    </type>
    <virtualType name="UberOrganizationGridCollection" type="Improntus\Uber\Model\ResourceModel\Organization\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\Document</argument>
            <argument name="resourceModel" xsi:type="string">Improntus\Uber\Model\ResourceModel\Organization</argument>
            <argument name="idFieldName" xsi:type="string">entity_id</argument>
            <argument name="eventPrefix" xsi:type="string">improntus_uber_organization_collection</argument>
            <argument name="eventObject" xsi:type="string">organization_collection</argument>
        </arguments>
    </virtualType>

    <!-- Waypoints -->
    <type name="Improntus\Uber\Model\ResourceModel\Waypoint\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Improntus\Uber\Model\Waypoint</argument>
            <argument name="resourceModel" xsi:type="string">Improntus\Uber\Model\ResourceModel\Waypoint</argument>
            <argument name="idFieldName" xsi:type="string">waypoint_id</argument>
            <argument name="eventPrefix" xsi:type="string">improntus_uber_waypoint_collection</argument>
            <argument name="eventObject" xsi:type="string">waypoint_collection</argument>
        </arguments>
    </type>
    <virtualType name="UberWaypointGridCollection" type="Improntus\Uber\Model\ResourceModel\Waypoint\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\Document</argument>
            <argument name="resourceModel" xsi:type="string">Improntus\Uber\Model\ResourceModel\Waypoint</argument>
            <argument name="idFieldName" xsi:type="string">waypoint_id</argument>
            <argument name="eventPrefix" xsi:type="string">improntus_uber_waypoint_collection</argument>
            <argument name="eventObject" xsi:type="string">waypoint_collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="uber_waypoint_listing_data_source" xsi:type="string">UberWaypointGridCollection</item>
                <item name="uber_organization_listing_data_source" xsi:type="string">UberOrganizationGridCollection</item>
            </argument>
        </arguments>
    </type>

    <!-- Token -->
    <preference for="Improntus\Uber\Api\TokenRepositoryInterface" type="Improntus\Uber\Model\TokenRepository"/>
    <preference for="Improntus\Uber\Api\Data\TokenInterface" type="Improntus\Uber\Model\Token"/>
    <preference for="Improntus\Uber\Api\Data\TokenSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Improntus\Uber\Model\ResourceModel\Token\Collection">
        <arguments>
            <argument name="model" xsi:type="string">Improntus\Uber\Model\Token</argument>
            <argument name="resourceModel" xsi:type="string">Improntus\Uber\Model\ResourceModel\Token</argument>
            <argument name="idFieldName" xsi:type="string">entity_id</argument>
            <argument name="eventPrefix" xsi:type="string">improntus_uber_token_collection</argument>
            <argument name="eventObject" xsi:type="string">token_collection</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <virtualType name="UberLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Improntus\Uber\Logger\Handler\CustomHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Improntus\Uber\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">uber</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Improntus\Uber\Logger\Handler\CustomHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Inventory\Model\SourceRepository">
        <plugin name="sourceRepositoryPlugin"
                type="Improntus\Uber\Plugin\SourceRepositoryPlugin"/>
    </type>
</config>
