@module: 'Improntus_Uber';

& when (@media-common = true) {
    #uber.input-container.field {
        .carrier {
            color: transparent;
            line-height: 0;
            overflow: hidden;
            pointer-events: none;
            &:before {
                content: '';
                background-image: url('@{baseDir}@{module}/images/logo-uber.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 100px;
                height: 40px;
                display: block;
                background-position: center;
            }
        }
    }
    .col-carrier {
        &[id*="uber"]{
            color: transparent;
            line-height: 0;
            overflow: hidden;
            pointer-events: none;
            &:before {
                content: '';
                background-image: url('@{baseDir}@{module}/images/logo-uber.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: auto;
                height: 40px;
                display: block;
                background-position: center;
            }
        }
    }
    .form.methods-shipping{
        tbody{
            .row{
                &:has(>#label_carrier_uber_uber){
                    display: flex;
                    align-items: center;
                    .col{
                        &.col-method{
                            order:1;
                        }
                        &.col-price{
                            order:3;
                        }
                        &.col-method#label_method_uber_uber{
                            order:4;
                        }
                        &.col-carrier{
                            min-width: 80px;
                            order:2;
                            &:before{
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // your code
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    // your code
}
